$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Override bootstrap variables
@import "variables";

// Additional stylesheets
@import "content";
@import "transitions";


body {
  padding: 0;
  height: 100%;
  margin: 0;
  background: black;
  font-family: 'Josefin Slab', serif;
}

#map {
    width: 50%;
    height: 600px;
    margin-left: 450px;
    float: right;
    border: 3px solid white;
}

/* Solarized Palette - http://ethanschoonover.com/solarized ---------
  lightgray      : #819090;
  gray           : #708284;
  mediumgray     : #536870;
  darkgray       : #475B62;
  darkblue       : #0A2933;
  darkerblue     : #042029;
  paleryellow    : #FCF4DC;
  paleyellow     : #EAE3CB;
  yellow         : #A57706;
  orange         : #BD3613;
  red            : #D11C24;
  pink           : #C61C6F;
  purple         : #595AB7;
  blue           : #2176C7;
  cyan           : #259286;
  green          : #738A05; */

// font-family: 'Amatic SC', cursive;
// font-family: 'Exo 2', sans-serif;
// font-family: 'Josefin Slab', serif;

// .outerbox {
//   position:relative;
//   width: 180px;
//   height: auto;
// }

h1 {
  margin-top: 0px;
  // position:absolute;
  // top:150px;
  // left: 80px;
  // z-index:7;
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 5em;
  text-align: center;
  // @include transition(color .3s ease, font-size .6s ease);
  // &:hover {
  //   color: violet;
  //   font-size: 6em;
  // }
}


.massena {
  margin-top: 0;
  position: absolute;
  float: left;
  left: 50px;
  // width: 50%;
  // height: 95%;
  // padding: 25px 45px 10px 45px;
  border: 3px solid white;
  margin: 0px;
}


.btn {
  background: #595AB7;
  font-color: white;
}

.container {
  margin-left: 50px;
}

//
// .my-container {
//     a {
//         &:link, &:active, &:visited {
//             color: red;
//         }
//         &:hover {
//             color: blue;
//         }
//     }
// }
