$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Override bootstrap variables
// @import "variables";

// Additional stylesheets
@import "content";
@import "transitions";
// font-family: 'Amatic SC', cursive;
// font-family: 'Exo 2', sans-serif;
// font-family: 'Josefin Slab', serif;
body {
  padding: 0;
  height: 100%;
  margin: 20px;
  background: darkgray;
  font-family: 'Josefin Slab';
}
.container {
  background: gray;
  padding-bottom: 15px;
}
// .frame {
//   background: blue;
  // padding-bottom: 15px;
// }
// View - About
.massena {
    width: 80%;
    height: auto;
    padding: 20px;
    margin-left: 90px;
    z-index: -1;
    margin-top: -85px
    // background-color: green;
}

// #map {
//     top: -280px;
//     left: -100px;
//     width: 900px;
//     height: 800px;
//     bottom: 0px;
//     z-index: -2;
// }

h2 {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  // @include transition(color .3s ease, font-size .6s ease);
  // &:hover {
  //   color: gray;
  //   text-shadow: black 2px;
  //   font-size: 4.3em;
  //   letter-spacing: 2px;
  //   font-family: 'Calligraffitti';
  // }
}
h3 {
  // margin-left: 70px;
  text-align: center;
  color: white;
  padding-top: 0;
  margin-top: -5px;

}

.flyout-toggle {
    position: absolute;
    transform: rotate(90deg);
    top: 25%;
    left: -50px;
    // z-index: 998;
    width: 95px;
    height: 45px;
    font-size: 1.2em;
    font-color: white;
    font-weight: bold;
    background: cornflowerblue;
    border: solid #fff 2px;
    letter-spacing: 3px;
    font: white;
}
.myzones {
    position: absolute;
    transform: rotate(90deg);
    top: 10%;
    left: -50px;
    // z-index: 998;
    width: 95px;
    height: 45px;
    font-size: 1.2em;
    font-weight: bold;
    font-color: white;
    background: #4cae4c;
    border: solid #fff 2px;
    line-height: 15px;
    font-size: 1.3em;
    letter-spacing: 3px;
}
// 
// .flyout-toggle  .myzones {
//   color: blue;
// }

.flyout-content {
    z-index:997
}
.flyout {
    position: fixed;
    z-index: 999;
    top: 0;
    right: -115px;
    width: 15%;
    height: 100%;
    // border-left: solid #fff 1px;
    background: darkgray;
    -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
    // box-shadow: 0px -5px 15px 0px #bfbfbf;
    transition: all .3s ease-in-out;
}

// a:link:active, a:visited:active {
//     color: (internal value);
// }

#photos {
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

#photos li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 16.6666667%; /* Fallback */
	width: -webkit-calc(100% / 6);
	width: calc(100% / 4);

}

#photos li a,
#photos li a img {
	display: block;
	width: 100%;
	cursor: pointer;
}

#photos li a img {
	max-width: 100%;
}

/* Flexbox is used for centering the heading */
#photos li a div {
	position: absolute;
	left: 20px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	background: rgba(71,163,218,0.7);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

#photos li a:hover div {
	opacity: 1.1;
}

#photos li a div h3 {
	width: 100%;
	color: #fff;
	text-transform: capitalize;;
	font-size: 1.2em;
	letter-spacing: 2px;
	padding: 0;
  // margin-left: 40px;
}

/* Media query: change number of items per row */

@media screen and (max-width: 1190px) {
	#photos li {
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
	}
}

@media screen and (max-width: 945px) {
	#photos li {
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}

@media screen and (max-width: 660px) {
	#photos li {
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 400px) {
	#photos li {
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
  .flyout-toggle {
    // right: -120px;
    font-size: 1.2em;
    width: 33.3333333%; /* Fallback */
    // width: -webkit-calc(100% / 3);
    // width: calc(100% / 3);
    color: green;
  }
  h1 {
    font-size: .8em;
  }
  .container {
    background-color: cornflowerblue;
  }
}

@media screen and (max-width: 300px) {
	#photos li {
		width: 100%;
	}
  h2 {
    font-size: .3em;
  }
}
