$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Override bootstrap variables
@import "variables";

// Additional stylesheets
@import "content";
@import "transitions";


body {
  padding: 0;
  height: 100%;
  margin: 0;
  background: black;
  font-family: 'Josefin Slab', serif;
}

ul, .navbar-brand  {
  font-size: 1.2em;
}

.massena {
  padding: 10px;
  border: 3px solid white;
}

#map {
    width: 50%;
    height: 600px;
    float: right;
    border: 3px solid white;
}

.left-half {
  background-color: black;
  position: absolute;
  float: left;
  left: 110px;
  width: 50%;
  height: 95%;
  margin: 0px;
}

.right-half {
  background-color: black;
  position: absolute;
  float: right;
  right: 0px;
  width: 50%;
  height: 95%;
  padding: 0px;
}



/* Solarized Palette - http://ethanschoonover.com/solarized ---------
  lightgray      : #819090;
  gray           : #708284;
  mediumgray     : #536870;
  darkgray       : #475B62;
  darkblue       : #0A2933;
  darkerblue     : #042029;
  paleryellow    : #FCF4DC;
  paleyellow     : #EAE3CB;
  yellow         : #A57706;
  orange         : #BD3613;
  red            : #D11C24;
  pink           : #C61C6F;
  purple         : #595AB7;
  blue           : #2176C7;
  blueish/grn    : #337ab7;
  cyan           : #259286;
  green          : #738A05; */

// font-family: 'Amatic SC', cursive;
// font-family: 'Exo 2', sans-serif;
// font-family: 'Josefin Slab', serif;


h1 {
  margin-top: 2px;
  padding-top: 10px;
  color: violet;
  font-size: 5.3em;
  text-align: center;
  // @include transition(color .3s ease, font-size .6s ease);
  // &:hover {
  //   color: violet;
  //   font-size: 5.3em;
  // }
}
h2 {
  margin-top: 2px;
  padding-top: 10px;
  color: violet;
  font-size: 4em;
  text-align: center;
}
h3 {
  margin-left: 70px;
  color: gray;

}

.wireframe {
  margin-left: 70px;
  padding-top: 20px;
  background: blue;
}

.btn {
  background: darkgray;
  font-size: .3em;
}

    a {
        &:link, &:active, &:visited  {
            color: #337ab7;
        }
        &:hover {
            color: lightgray;
        }
    }
