<!-- <html>
<body> -->
  <div>
    <h2> <!--<a class="href" href="https://en.wikipedia.org/wiki/List_of_car-free_places">-->Inspiring pedestrian zones
      <p><a class="btn btn-primary" ng-click="refreshFlickr()">Next</a></p>
    </a></h2>
  </div>

    <div ng-controller="AboutCtrl">
    <div class="frame">
      <p class="tBlock"> <!--<a href="{{featuredImage.source}} /">--> {{featuredImage.title}}</a></p>
      <p><a href="{{featuredImage.source}}"><img ng-src="{{featuredImage.url}}" class="massena" alt="{{ featuredImage.title }}"/><a/></p>
    </div>
  </div>

    <div class="flyout">
      <button class="flyout-toggle"><a href="#/">Main</a></button>
      <button class="myzones"><a href="https://en.wikipedia.org/wiki/List_of_car-free_places">More</a></button>
    <div class="flyout-content"></div>
  </div>
