
<h2>Project Wireframe</h2>
<h3>This is a webapp that uses Flickr photos with a specific tag ('pedestrian zone') to locate lat/long of walkable areas in the world.</h3>

<img src="images/capstone_wireframe.jpg" alt="wireframe" class="wireframe" style="width:1000px; height: auto;">



<!-- 'use strict';
<div ng-app ng-init="firstnum=1;secondnum=2">
  <input type="number" min="0" ng-model="firstnum">
    plus
  <input type="number" min="0" ng-model="secondnum">
    equals
<b>{{firstnum + secondnum}}</b>
</div> -->
