<!-- <html>
<body> -->
<div>
  <div class="flyout">
  <button class="flyout-toggle">Go to Map</button>
  <div class="flyout-content"></div>
</div>
  <h2>Pedestrian Places Around the World</h2>
    <ul id="photos" ng-repeat="image in flickrData.photos.photo | limitTo: 700">
      <li><a href="#"><img src="{{ image.url_m }}" height="300" width="auto"/><div><h3>{{ image.title }}</h3></div></a></li>
  <!-- <br> -->
  <!-- Lat: {{ image.lat }} Lon: {{ image.lon }} -->
  <!-- <br> -->
  <!-- Tags: {{ image.tags }} -->
    </ul>
</div>
