<!-- <html>
<body> -->
<!-- <div class="container-images"> -->
  <div ng-controller="MainCtrl"> <!--ng-app directive defines an AngularJS application-->
    <h1>Where in the world can I walk?</h1>
      <div class="left-half" >
        <div ng-app="">
          <!-- <p class="displayText">{{displayText}}</p> -->
        </div>
          <img ng-src="{{ myPicture }}" class="massena" width='600' height='600'/>
      </div>
  </div>

  <div class="right-half">
      <h3></h3>
    <p class="lead"></p>
      <div ng-init="location='Nice, France'">
        <div class="row">
          <div class="col-md-6">
          <dl class="flickr-img" ng-repeat="city in citiesFound.list">
            <dd>{{city.name}}<dd>
            <dt>City</dt>
            </dl>
          </div>
          </div>
  </div> <!--ng int-->
  </div> <!--right half -->

      <div id="map"></div>
       <script>
         function initMap() {
           var mapDiv = document.getElementById('map');
           var map = new google.maps.Map(mapDiv, {
             center: {lat: 43.460, lng: 7.28},
             zoom: 6
           });
         }
       </script>
       <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
           async defer></script>

     </div>


     <p class="lead">
     <div ng-repeat="tags []">
        <div class="row">
          <div class="col-md-6">
          <dl class="flickr-listing" ng-repeat="flickrFound.list">
            <img src="https://farm{{photo.photos.photo[tags].farm}}.staticflickr.com/{{photo.photos.photo[tags].server}}/{{photo.photos.photo[tags].id}}_{{photo.photos.photo[tags].secret}}_q.jpg">
            <dd>{{photos.search.title}}<dd>
            <dt>Title</dt>
            <dd>{{photos.search.extras.latitude}}</dd>
            <dt>Latitude</dt>
            <dd>{{flickr.photos.search.extras.longitude}}</dd>
            <dt>Longitude</dt>
            </dl>
          </div>





  <p class="lead">
  <div ng-repeat="tags in [0,1,2,3,4,5,6] track by $index">
  <div class="col-md-4 col-lg-4 col-sm-4">
  <img src="https://farm{{photo.photos.photo[tags].farm}}.staticflickr.com/{{photo.photos.photo[tags].server}}/{{photo.photos.photo[tags].id}}_{{photo.photos.photo[tags].secret}}_q.jpg">
  </div>
  </div>
  </p>
  </div>
  </div>
  </div>
  </div>')}]);
