<div id="cloud">
    <canvas width="500" height="400" id="myCanvas">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
        <ul class="weighted" style="font-size: 50%" id="weightTags">
            <li><a href="#" data-weight="20">ligações</a></li>
            <li><a href="#" data-weight="23">serviços</a></li>
            <li><a href="#" data-weight="23">bom</a></li>
            <li><a href="#" data-weight="26">falta</a></li>
            <li><a href="#" data-weight="60">sinal</a></li>
            <li><a href="#" data-weight="46">atendimento</a></li>
            <li><a href="#" data-weight="29">cobertura</a></li>
            <li><a href="#" data-weight="32">ruim</a></li>
            <li><a href="#" data-weight="29">caro</a></li>
            <li><a href="#" data-weight="36">qualidade</a></li>
            <li><a href="#" data-weight="33">preço</a></li>
            <li><a href="#" data-weight="20">boa</a></li>
            <li><a href="#" data-weight="20">funciona</a></li>
            <li><a href="#" data-weight="24">custo</a></li>
            <li><a href="#" data-weight="21">promoções</a></li>
            <li><a href="#" data-weight="45">internet</a></li>
            <li><a href="#" data-weight="28">serviço</a></li>
            <li><a href="#" data-weight="25">péssimo</a></li>
            <li><a href="#" data-weight="24">cliente</a></li>
            <li><a href="#" data-weight="20">cara</a></li>
        </ul>
    </canvas>
</div>
